{% extends "special_analyses/layout.html" %}
{% block pageheader %}IV scans <small>{{ g.scan }}</small>{% endblock %}
{% block body %}
{{ display_flash_messages() }}
<div>
  <form class="form-inline" action="{{ url_for('special_analyses.iv_scans') }}" method="GET">
    <div class="form-group">
      <label for="scan" class="control-label">Nominal IV scan</label>
      <select class="form-control" name="scan">
        {% for scan in g.scans %}
          <option {% if scan == g.scan %}selected{% endif %} value="{{ scan }}">
            {{ g.datetimes[loop.index0] }}
          </option>
        {% endfor %}
      </select>
      <label for="ref" class="control-label">Reference IV scan</label>
      <select class="form-control" name="ref">
        {% for scan in g.scans %}
          <option {% if scan == g.reference %}selected{% endif %} value="{{ scan }}">
            {{ g.datetimes[loop.index0] }}
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Change IV scan</button>
  </form>
</div>
<h5 class="iv-title">Nominal scan results</h5>
<div class="row">
  <div class="col-sm-6">
    <div class="plot"
        data-scan="{{ g.scan }}"
        data-reference="{{ g.reference }}"
        data-sensor="{{ g.module }}"
        data-temperature-corrected="false">
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Module N has two sensors, one with index N and one with index N + 64 -->
    <div class="plot"
        data-scan="{{ g.scan }}"
        data-reference="{{ g.reference }}"
        data-sensor="{{ g.module + 64 }}"
        data-temperature-corrected="false">
    </div>
  </div>
</div>
<h5 class="iv-title">Temperature-corrected results</h5>
<div class="row">
  <div class="col-sm-6">
    <div class="plot"
        data-scan="{{ g.scan }}"
        data-reference="{{ g.reference }}"
        data-sensor="{{ g.module }}"
        data-temperature-corrected="true">
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Module N has two sensors, one with index N and one with index N + 64 -->
    <div class="plot"
        data-scan="{{ g.scan }}"
        data-reference="{{ g.reference }}"
        data-sensor="{{ g.module + 64 }}"
        data-temperature-corrected="true">
    </div>
  </div>
</div>
<form class="module-selector form-inline" action="{{ url_for('special_analyses.iv_scans', scan=g.scan, ref=g.reference, module=g.module) }}" method="GET">
  <div class="input-group">
    <span class="input-group-btn">
      {#
      Add autocomplete="off" to work around Firefox persisting disabled state across refreshes
      https://bugzilla.mozilla.org/show_bug.cgi?id=654072
      #}
      <button type="submit" autocomplete="off" class="previous btn btn-default">Previous module</button>
    </span>
    <input type="text" class="form-control" name="module" min="0" max="41" step="1" list="module" placeholder="Module number" value="{{ g.module }}">
    <span class="input-group-btn">
      <button type="submit" autocomplete="off" class="next btn btn-default">Next module</button>
    </span>
  </div>
  {# datalist for possible module numbers, used for autocompletion in the module selection form #}
  {# Kept outside the plots loop else we'll have duplicate IDs #}
  {# TODO polyfill this, not supported by Safari and IE < 10 #}
  <datalist id="modules">
    {% for module in g.modules %}
      <option value="{{ module }}">Module</option>
    {% endfor %}
  </datalist>
</form>
{% endblock %}
