<PRE>
Package : LovellSys
Package manager : Jon Harrison
Purpose: Offline and web monitoring for the VELO

</PRE>

</PRE><H1><A NAME="v2r0">2016-06-21 - LovellSys v2r0</A></H1><PRE>
                    Improvements to monitoring plots, addition of trending and removal of C++ components from VeloAnalysisFramework. Bug fixes and improvements for VeloOfflineGUI and VeloWebGUI

</PRE><H1><A NAME="v1r3">2015-06-12 - LovellSys v1r3</A></H1><PRE>
                    Addition of monitoring plots for IP resolution and bad channels to VeloAnalysisFramework. Bug fixes and improvements for VeloOfflineGUI and VeloWebGUI

</PRE><H1><A NAME="v1r2">2015-03-18 - LovellSys v1r2</A></H1><PRE>
                    Bug fixes for VeloAnalysisFramework and VeloOfflineGUI

</PRE><H1><A NAME="v1r1">2015-03-02 - LovellSys v1r1</A></H1><PRE>
                    Updates to CMake configuration and C++ compilation for VeloAnalysisFramework

</PRE><H1><A NAME="v1r0">2015-02-12 - LovellSys v1r0</A></H1><PRE>
                    this the first version of the LOVELL project

!=======================================================================
