{#
  Define a layout extending the two column one provided by jobmonitor.
  We include our app-specific CSS and JS here, and add some navigation.
#}
{% extends "two_column_sidebar.html" %}
{% from "_velo_helpers.html" import display_flash_messages %}
{% from "_icon_helpers.html" import icon %}
{% block stylesheets %}
  <link href="//cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" rel="stylesheet" type="text/css">
  {{ stylesheet_tag('velo_monitor', blueprint='velo_monitor') }}
{% endblock %}
{% block navtopbar %}
    {{ list_link_tag('velo_view', 'VELO view') }}
    {{ list_link_tag('sensor_view', 'Sensor view') }}
    {{ list_link_tag(url_for('run_view.run_view_builder'), 'Run view') }}
    {{ list_link_tag('tell1_view', 'TELL1 view') }}
    {{ list_link_tag('special_analyses', 'Special analyses') }}
    {{ list_link_tag('settings', icon('ios-gear')) }}
{% endblock %}
{% block javascripts %}
  <script>
    // Enable JS debug mode if the app's in enabled
    JobMonitor.settings.debug = {{ 'true' if config.DEBUG else 'false' }};
    // Path to the worker used by the JobCache
    COMPRESSION_WORKER_SCRIPT = "{{ url_for('velo_monitor.static', filename='javascripts/compression_worker.js') }}";
  </script>
  <script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
  {{ javascript_tag('lib/string-format', blueprint='velo_monitor') }}
  {{ javascript_tag('lib/lz-string.min', blueprint='velo_monitor') }}
  {{ javascript_tag('job_cache', blueprint='velo_monitor') }}
  {{ javascript_tag('velo_monitor', blueprint='velo_monitor') }}
{% endblock %}
